@tailwind base;
@tailwind components;
@tailwind utilities;

#mainNav {
    background: linear-gradient(180deg, #BFCE40 25%, white 0 100%);
    padding-top: 4rem;
    padding-bottom: 1rem;		
}

body {
	margin: 0;
	background: #eee;
	font-family: sans-serif;
	height: 100%;
}
